<h1 class="headerOne">Welcome. Make yourself laugh. By order of Chuck Norris</h1>

<h4>
    
░█████╗░██╗░░██╗██╗░░░██╗░█████╗░██╗░░██╗
██╔══██╗██║░░██║██║░░░██║██╔══██╗██║░██╔╝
██║░░╚═╝███████║██║░░░██║██║░░╚═╝█████═╝░
██║░░██╗██╔══██║██║░░░██║██║░░██╗██╔═██╗░
╚█████╔╝██║░░██║╚██████╔╝╚█████╔╝██║░╚██╗
░╚════╝░╚═╝░░╚═╝░╚═════╝░░╚════╝░╚═╝░░╚═╝
</h4>

<h4>
    
███╗░░██╗░█████╗░██████╗░██████╗░██╗░██████╗
████╗░██║██╔══██╗██╔══██╗██╔══██╗██║██╔════╝
██╔██╗██║██║░░██║██████╔╝██████╔╝██║╚█████╗░
██║╚████║██║░░██║██╔══██╗██╔══██╗██║░╚═══██╗
██║░╚███║╚█████╔╝██║░░██║██║░░██║██║██████╔╝
╚═╝░░╚══╝░╚════╝░╚═╝░░╚═╝╚═╝░░╚═╝╚═╝╚═════╝░
</h4>

<h4>
    
░░░░░██╗░█████╗░██╗░░██╗███████╗░██████╗
░░░░░██║██╔══██╗██║░██╔╝██╔════╝██╔════╝
░░░░░██║██║░░██║█████═╝░█████╗░░╚█████╗░
██╗░░██║██║░░██║██╔═██╗░██╔══╝░░░╚═══██╗
╚█████╔╝╚█████╔╝██║░╚██╗███████╗██████╔╝
░╚════╝░░╚════╝░╚═╝░░╚═╝╚══════╝╚═════╝░
</h4>