@model PublicApi.DTO.v1.CompetitionTeam

@{
    //ViewData["Title"] = Base.Resources.Views.Shared.Basic.Remove;
}

<h4 class="text-center">@Base.Resources.DTO.v1.CompetitionTeam.SureRemove</h4>
<div>
    <hr />
    <dl class="row">
        <partial name="_DetailsDelete" model="Model"/>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="CompetitionId" />
        <input type="submit" value="@Base.Resources.Views.Shared.Basic.Remove" class="btn btn-danger" />
    </form>
</div>
