@model PublicApi.DTO.v1.CompetitionTeam

@{
    //ViewData["Title"] = "Details";
}

<h4>Details</h4>

<div>
    <h4>CompetitionTeam</h4>
    <hr />
    <dl class="row">
        <partial name="_DetailsDelete" model="Model"/>
    </dl>
</div>
