@using System.Security.Claims
@{
    //ViewData["Title"] = "Privacy Policy";
}
<h1>2021</h1>

<p>Footy 2021</p>

<div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
