<footer class="footer text-center text-lg-start text-light">
    <div class="container">
        &copy; 2021 - Bloody - 
        <a class="text-info" asp-area="" asp-controller="Home" asp-action="Privacy">
            Privacy
        </a>
    </div>
</footer>