<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="" asp-controller="Quiz" asp-action="Index">
        <div class="sidebar-brand-icon">
            <img class="small-icon" src="~/js/images/exam.png" alt=""/>
        </div>
        <div class="sidebar-brand-text mx-3">Quizzzy <sup></sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <div class="sidebar-heading">
        Take A Quiz
    </div>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Quiz" asp-action="Index">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Quizzes</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Feedback
    </div>

    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Poll" asp-action="Index">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Polls</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
</ul>