@model WebApp.ViewModels.Teams.TeamCreateEditDetailsViewModel

@{
    //ViewData["Title"] = @Base.Resources.Views.Shared.Basic.Create;
}

<h4 class="text-center">@Base.Resources.DTO.v1.Team.CreateNewTeam</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="_CreateEdit" model="Model"/>
            <div class="form-group">
                <input type="submit" value="@Base.Resources.Views.Shared.Basic.Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
