@model WebApp.ViewModels.Persons.PersonCreateEditViewModel

@{
    //ViewData["Title"] = @Base.Resources.Views.Shared.Basic.Create;
}

<h4 class="text-center">@Base.Resources.DTO.v1.Person.AddNewMember</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="createCompetition">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="_CreateEdit" model="Model"/>
            <div class="form-group">
                <input type="submit" value="@Base.Resources.Views.Shared.Basic.Add" class="btn btn-primary" />
                <input type="submit" asp-route-add="add" value="@Base.Resources.DTO.v1.Person.AddMemberToTeam" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
