@model WebApp.ViewModels.Persons.PersonCreateEditViewModel

@{
    //ViewData["Title"] = @Base.Resources.Views.Shared.Basic.Edit;
}

<h4 class="text-center">@Model.Person.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="_CreateEdit" model="Model"/>
            <input type="hidden" asp-for="Person.Id" />
            <div class="form-group">
                <input type="submit" value="@Base.Resources.Views.Shared.Basic.Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
