@model PublicApi.DTO.v1.Country

@{
    //ViewData["Title"] = @Base.Resources.Views.Shared.Basic.Edit;
}

<h4>@Base.Resources.Views.Shared.Basic.Edit</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="NameId" />
            <div class="form-group">
                <input type="submit" value="@Base.Resources.Views.Shared.Basic.Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
